Countries.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Nov 21 2017 11:39:48 GMT+0000 (GMT Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="southAmerica">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="country" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Name" type="xs:string"></xs:element>
                                             <xs:element name="currency" type="xs:string"></xs:element>
                                             <xs:element name="city" type="xs:string"></xs:element>
                                             <xs:element name="airfare" type="xs:string"></xs:element>
                                             <xs:element name="busfare" type="xs:string"></xs:element>
                                             <xs:element name="zooticket" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
   